
<div class="widget-holder widget-full-height widget-flex col-lg-6">
    <div class="widget-bg">
        <div class="widget-heading">
            <h5 class="widget-title">Daily Statistics</h5>
            <div class="widget-graph-info">
                @*<div class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle text-muted fs-16" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="index.html#">Action</a>  <a class="dropdown-item" href="index.html#">Another action</a>  <a class="dropdown-item" href="index.html#">Something else here</a>
                        </div>
                    </div>*@
            </div>
            <!-- /.widget-graph-info -->
        </div>
        <!-- /.widget-heading -->
        <div class="widget-body" style="padding-top: 0px;margin-top: -8px;">
            <div class="mr-t-10 flex-1">
                <div>
                    <canvas id="myChart" style="height: 270px; display: block; width: 766px;" width="1532" height="540"></canvas>
                </div>
            </div>
        </div>
        <!-- /.widget-body -->
    </div>
    <!-- /.widget-bg -->
</div>