@model CRM.Entities.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Create</h2>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nmCustomer" class="control-label"></label>
                <input asp-for="nmCustomer" class="form-control" />
                <span asp-validation-for="nmCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nuPhone" class="control-label"></label>
                <input asp-for="nuPhone" class="form-control" />
                <span asp-validation-for="nuPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adEmail" class="control-label"></label>
                <input asp-for="adEmail" class="form-control" />
                <span asp-validation-for="adEmail" class="text-danger"></span>
            </div>
            <partial name="/Views/Address/Create.cshtml" for="Address" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

